*{
    margin: 0;
    padding: 0
}
a{
    text-decoration: none
}

.el-header{

color: #333;
text-align: center;
line-height: 60px;
border-bottom: 1px solid gainsboro;
box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04);
}
.el-header a{
    color: black
}

.el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
 .mypic{
     margin-top: 6px
 }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    line-height: 60px;
    font-size: 14px
  }
  /* 以上是顶部导航的样式 */


.el-main {
/* background-color: pink; */
color: #333;
text-align: center;
margin-top: 10px;
/* line-height: 160px; */
}
.mystep{
  margin-left: 20%;
  margin-top: 20px;
}
.el-steps h3{
  color: #475669
}
.el-step.is-vertical .el-step__title {
  line-height: 50px !important;
  padding-bottom: 8px;
  font-size: 14px !important;
  color: #99a9bf !important

}
.mytitle {
    font-size: 18px;
    font-weight: 500;
    color: #f75062;
    margin-top: 10px;
    text-align: left !important
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 400px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    /* background-color: #99a9bf; */
  }
  
  .el-carousel__item:nth-child(2n+1) {
    /* background-color: #d3dce6; */
  }
  .imgcl{
    width: 100%;
    height: 400px;
  }
