.dcontainer{
    margin: 20px 15%;
    background-color: antiquewhite;
    width: 70%;
    /* height: 100px; */
}
.a1{
    /* background-color: palegoldenrod; */
    width: 100%;
    height: 100%;
    
}
.dleftpict{
    width: 88%;
    height: 450px;
    padding: 30px;
    background-color:	#FCFCFC;
}

/* 轮播图样式 */
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 25px 10px;
  }

.el-carousel__indicators:nth-child(2n+1){
display: none !important
  }
.dkey{
    width: 88%;
    /* height: 45px; */
    line-height: 45px;
    margin-top: -10px;
    padding: 30px;
}
.mytag{
    width: 80px;
    text-align: center;
    margin-right: 5px;
    border-radius: 15px
}
.fuwenben{
    width: 90%;
    line-height: 35px;
     padding: 20px;
    background-color: #F0F8FF;
    font-size: 14px;
    overflow: hidden;
}
.time{
    position: relative;
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid gainsboro
}
.timefont{
    font-size: 12px
}
.time div:nth-child(1){
font-size: 12px;
width: 30%;
height: 50px;
padding: 15px;
display: inline-block;
/* background-color:palevioletred; */
}
.time div:nth-child(2){
    position: absolute;
    top: 12px;
    left: 156px;
    font-size: 12px;
    width: 18%;
    height: 50px;
    padding: 15px;
    display: inline-block;
    margin-left: 30px;
    margin-top: -10px
    }
    .time div:nth-child(3){
        font-size: 12px;
        width: 14%;
        height: 50px;
        padding: 15px;
        display: inline-block;
       position: absolute;
       top: 1px;
       right: 33px;
        }
        .commend{
            width: 100%;
            margin-top: 10px;
            padding: 15px;
            /* background-color: pink; */
        }
        .el-icon-edit-outline{
            color: red
        }
        .mytext{
            margin-top: 10px;
            width: 80%
        }
        .history{
            border-bottom: 1px solid gainsboro
        }
        .cheader{
            width: 50px;
            height: 50px;
            border-radius: 50%;
           position: absolute;
           top: 0px;
        }
       
        .commend h4{
            margin-top: 10px
        }
        .comleft{
           margin-top: 20px;
            position: relative;
            height: 60px;
        }
        .comrigth{
            
            margin-left: 100px;
            background-color: palegoldenrod;
            height: 100px
        }
        .comright div:nth-child(1){
            display: block;
            font-size: 14px
        }
        .comright div:nth-child(2){
            line-height: 30px;
            display: block;
            font-size: 12px;
            color: gray
        }
        .comright div:nth-child(3){
            font-size: 14px;
            line-height: 20px;
            display: block;
           margin-top: 10px;
        }
        .comright div:nth-child(4){
            font-size: 14px;
            line-height: 30px;
            display: block;
            margin: 20px 0;
            color: gray;
            background-color: #FAFAFA;
        }
        .authorco{
            color: #475669
        }
        /* 以上为左侧样式 */
        .rightb{
            /* background-color: palegreen; */
            height: 180px;
            width: 100%;
            border-radius: 15px;
            position: relative;
            border: 1px solid gainsboro
        }
        .rightfirst{
            height: 45px;
            width: 100%;
            text-align: center;                                                                                     
           line-height:  45px;
           border-bottom: 1px solid gainsboro;
           /* color: red; */
        }
        .childone{
            vertical-align:middle;
            display: table-cell;
            text-align: center
        }
        .childimg{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-left: 20px;
            
        }
       
        .rnbottom{
            height: 60px;
            line-height: 20px;
            width: 80%;
            margin-left: 10%;
            /* position: absolute; */
            margin-bottom: 0;
            border-top: 1px solid gainsboro
        }
       
       .seconddiv{
           display: flex;
           justify-content: space-around;
           width: 100%;
           height: 75px;
       }
       .repeat{
           width: 90%;
           height: 100px;
           margin-left: 10%;
           box-sizing: border-box;
           margin: 20px auto;
           position: relative;
           /* background-color: palegoldenrod; */
       }
       .repeatone{
           display: inline-block;
           width: 30%;
           height: 90px;
           /* background-color: paleturquoise; */
       }  
       .repeattwo{
        font-size: 14px;
        color: grey;
        position: absolute;
        top: 0;
        left: 102;
        display: inline-block;
        width: 70%;
        height:90px;
        margin-left: 10px;
        margin-bottom: 20px;
        background-color: #F0F8FF;
    }
    .repeattwo li{
        list-style: none;
        margin-top: 20px
    }
    .repeatimg{
        width: 100px;
        height: 90px;

    }
       .myritpic{
           width: 80px;
           height: 80px;
       }
       .rechildone{
        display: inline-block;
        width: 50%;
        height: 90px;
        background-color: pink;
       }
        .child{
            width: 33%;
            height: 75px;
            line-height: 75px;
            font-size: 14px;
            text-align: left
        }
      
        .rw{
            font-size: 14px;
            color: gainsboro
        }
        .rnbottom :nth-child(1){
            margin-top: 5px;
            font-size: 16px;
        }
        .rnbottom :nth-child(2){
            font-size: 14px;
        }
       .myul li{
           display: inline-block;
           margin-right: 20px;
           width: 25%;
            color: gray;
            text-align: center;

       }
       .rightbody{
        margin-top: 20px;
        cursor: pointer;
        width: 100%;
        border-radius: 15px;
        position: relative;
        border: 1px solid gainsboro
       }
       .botdesc{
           line-height: 60px;
           text-align: center;
           color: red;
           /* margin-top: 90px */
       }
       .myscroll{
        position: fixed;
        top: 0;
        padding-bottom: 100px
    }
    .hidden{
       display: none 
    }