.el-footer{
    background-color: #e5e9f2;
    height: 150px !important;
 }

 .footer{
     /* background-color: pink; */
     padding-top: 20px
 }
 .footer li{
     list-style: none;
     line-height: 28px !important;
     text-align: center
 }
 .footer div{
     text-align: center
 }
 .footermsg{
    background-color: #e5e9f2;
        height: 100px;
     width: 100px;
 }
 .footpic{
     width: 60px;
     height: 60px;
    
 }
 .masked{
     font-size: 20px !important;
     line-height: 26px !important
 }
 @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
   .masked{
       background-image: -webkit-linear-gradient(left,#FF8C69, #E6D205 25%, #FFBBFF 50%, #E6D205 75%, #FF8C69);
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       -webkit-background-size: 200% 100%;
       -webkit-animation: masked-animation 4s infinite linear;
   }
}
@-webkit-keyframes masked-animation {
   0%  { background-position: 0 0;}
   100% { background-position: -100% 0;}
}
 .leftmsg{
     font-size: 20px;
     color: antiquewhite
 }
 .bottom{
     line-height: 20px;
     text-align: center;
     padding-top: 15px
 }
 .footerlast{
     height: 100px !important;
     font-size: 10px;
 }
 .footerlast a{
     color: #333
 }