*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
#app{
    width: 100%;
    height: 750px;
    background-image: url(/image/regbg.jpg);
    background-size: cover;
    position: relative;
    top: 0;
    text-align: left;

}
.bigdiv_1{
    width: 50%;
    background-color: rgba(255, 245, 255, 0);
    position: absolute;
    top: 100px;
    left: 150px;
    
}
.bigdiv_1 h1{
    margin-left:100px;
    color: rgb(144, 147, 153);
}