<% include header.html%>
            <!-- 以上是顶部导航内容 -->
            <el-main>
                    <template>
                            <el-carousel :interval="4000" type="card" height="200px">
                              <el-carousel-item v-for="item in 6" :key="item">
                                <h3>{{ item }}</h3>
                              </el-carousel-item>
                            </el-carousel>
                          </template>

            </el-main>
            <!-- 以上是中间内容部分 -->
<%include footer.html%>