<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/business.css">
    <link rel="stylesheet" href="./css/perfect.css">
    <link rel="shortcut icon" href="./image/small.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/display.css">
    <link rel="stylesheet" href="/css/personal.css">

</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row :gutter="2">
                    <el-col :sm="2" :xs="4" :offset="2">
                        <div class="grid-content bg-purple ">
                            <a href="#">
                                <img src="./image/logo.png" alt="" class="mypic">
                            </a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4">
                        <div class="grid-content bg-purple ">
                            <a href="/">
                                <span class="mytitle">Dazzling</span>
                            </a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4"  class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/">首页</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4"  class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/perfect">精选</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4"  class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/about">关于我们</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4"  class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/business">招商</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4"  class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/personal">个人中心</a>
                        </div>
                    </el-col>
                </el-row>
            </el-header>