<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="shortcut icon" href="/image/small.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/display.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
    <div id="app">
        <header>
            <div class="nav_1">
                <el-row :gutter="5">
                    <!-- logo部分 -->
                    <el-col :span="8" :sm="8" class="hidden-xs-only">
                        <el-row :gutter="5">
                            <el-col :span="14" :offset="10">
                                <el-row :gutter="5">
                                    <el-col :span="14" :sm="14" :xs="24" class="hidden-xs-only">
                                        <div class="right">
                                            <img src="/image/logo.png" alt="这里是logo">
                                        </div>
                                    </el-col>
                                    <el-col :span="10" :sm="10" :xs="24" class="hidden-xs-only">
                                        <div class="left">
                                            <p>Dazzling</p>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-col>
                    <!-- logo-end -->
                    <!-- 导航部分 -->
                    <el-col :span="16" :sm="16">
                        <el-row :gutter="8">
                            <el-col :span="16">
                                <el-row :gutter="5">
                                    <el-col :span="4" :sm="4" :xs="24" :offset="4">
                                        <div class="left">
                                            <a href="/">首页</a>
                                        </div>
                                    </el-col>
                                    <el-col :span="4" :sm="4" :xs="24" class="hidden-xs-only">
                                        <div class="left">
                                            <a href="/perfect">社区精选</a>
                                        </div>
                                    </el-col>
                                    <el-col :span="4" :sm="4" :xs="24" class="hidden-xs-only">
                                        <div class="left">
                                            <a href="/about">关于我们</a>
                                        </div>
                                    </el-col>
                                    <el-col :span="4" :sm="4" :xs="24" class="hidden-xs-only">
                                        <div class="left">
                                            <a href="/business">招商合作</a>
                                        </div>
                                    </el-col>
                                    <el-col :span="4" :sm="4" :xs="24" class="hidden-xs-only">
                                        <div class="left">
                                            <a href="/personal">个人中心</a>
                                        </div>
                                    </el-col>
                                    <!-- <el-col :span="4">
                                            <div class="left"></div>
                                        </el-col> -->
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-col>
                    <!-- 导航部分end -->
                </el-row>
            </div>
        </header>

        <section>
            <!-- 第一部分 -->
            <div>
                <el-row :gutter="5">
                    <el-col :span="20" :sm="20" :xs="2" :offset="2">
                        <div class="sec_1">
                            <div class="sec_1_left hidden-xs-only">
                                <p>美美哒</p>
                                <br>
                                <p>要美，就上美美哒~</p>
                                <p>Welcome to a page for beauty bloggers</p>
                                <br>
                                <br>
                                <br>
                                <el-button type="info">微信小程序</el-button>
                                <el-button type="info">手机app</el-button>
                            </div>
                            <div class="sec_1_right" v-html="right_img"></div>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <!-- 第二部分 -->
            <div class="sec_2">
                <el-row :gutter="5">
                    <el-col :span="14" :sm="14" :offset="2" class="hidden-xs-only">
                        <video height="450px" controls="controls" autoplay="autoplay">
                            <source src="./texie.mp4" type="video/mp4">
                        </video>
                    </el-col>
                    <el-col :span="6" :offset="3" :sm="4" :xs="21">
                        <div class="sec_2_right">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在人生岁月中，了然于心的情怀，其实一直都在心底；</p>
                            <br>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然总有些错过，有些遗憾，毕竟已在岁月的长河中得到释疑和诠注。也因为爱和宽容，竟也出落得错落有致，在素色年华里，虽然会有孤独，却也不乏美丽。</p>
                            <br>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但是，流年似水，总有一些记忆会愈久弥新，也总有一些记忆，会在不经意间消逝...</p>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <!-- 第三部分 -->
            <!-- <div class="sec_1_3"> -->
                    <!-- <h1 style="color: #25303c;">相关用品推荐</h1> -->
                
                <div class="sec_3">
                    <div class="tiler">
                        <img src="/image/sy01.jpg" />
                        <div class="tiler-overlay" data-image="/image/sy01.jpg"></div>
                    </div>
                    <div class="tiler">
                        <img src="/image/sy09.jpg" />
                        <div class="tiler-overlay" data-image="/image/sy09.jpg"></div>
                    </div>
                    <div class="tiler">
                        <img src="/image/sy03.jpg" />
                        <div class="tiler-overlay" data-image="/image/sy03.jpg"></div>
                    </div>
                    <div class="tiler">
                        <img src="/image/sy04.jpg" />
                        <div class="tiler-overlay" data-image="/image/sy04.jpg"></div>
                    </div>
                    <div class="tiler">
                        <img src="/image/sy07.jpg" />
                        <div class="tiler-overlay" data-image="/image/sy07.jpg"></div>
                    </div>
                    <div class="tiler">
                        <img src="/image/sy06.jpg" />
                        <div class="tiler-overlay" data-image="/image/sy06.jpg"></div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- 第四部分 -->
            <div class="sec_4">

                <div id="hero-slides">
                    <br>
                    <h1 style="color: #25303c;">世界妆容大赏</h1>
                    <br>
                    <br>
                    <br>
                    <!-- <div id="header">
                        <div id="logo"></div>
                        <div id="menu">
                            <div id="hamburger">
                                <div class="slice"></div>
                                <div class="slice"></div>
                                <div class="slice"></div>
                            </div>
                        </div>
                    </div> -->
                    <div id="slides-cont">
                        <div class="button" id="next"></div>
                        <div class="button" id="prev"></div>
                        <div id="slides">
                            <div class="slide" style="background-image: url(/image/fb01.jpg);">
                                <div class="number">01</div>
                                <div class="body">
                                    <div class="location">Shibuya</div>
                                    <div class="headline">大方气质妆</div>
                                    <!-- <a href="#">
                                        <div class="link"></div>
                                    </a> -->
                                </div>
                            </div>
                            <div class="slide" style="background-image: url(/image/fb02.jpg);">
                                <div class="number">02</div>
                                <div class="body">
                                    <div class="location">Mong Kok</div>
                                    <div class="headline">精灵狐狸妆</div>
                                    <!-- <a href="#">
                                        <div class="link">置顶</div>
                                    </a> -->
                                </div>
                            </div>
                            <div class="slide" style="background-image: url(/image/fb03.jpg);">
                                <div class="number">03</div>
                                <div class="body">
                                    <div class="location">Incheon</div>
                                    <div class="headline">拍照滤镜妆</div>
                                    <!-- <a href="#">
                                        <div class="link">View on Unsplash</div>
                                    </a> -->
                                </div>
                            </div>
                            <div class="slide" style="background-image: url(/image/fb04.jpg);">
                                <div class="number">04</div>
                                <div class="body">
                                    <div class="location">Wan Chai</div>
                                    <div class="headline">纯白婚纱妆</div>
                                    <!-- <a href="#">
                                        <div class="link">View on Unsplash</div>
                                    </a> -->
                                </div>
                            </div>
                            <div class="slide" style="background-image: url(/image/fb08.jpg);">
                                <div class="number">05</div>
                                <div class="body">
                                    <div class="location">Shibuya-ku</div>
                                    <div class="headline">性感街拍妆</div>
                                    <!-- <a href="#">
                                        <div class="link">View on Unsplash</div>
                                    </a> -->
                                </div>
                            </div>
                            <div class="slide" style="background-image: url(/image/fb06.jpg);">
                                <div class="number">06</div>
                                <div class="body">
                                    <div class="location">Tokyo-naya</div>
                                    <div class="headline">早秋南瓜妆</div>
                                    <!-- <a href="#">
                                        <div class="link">View on Unsplash</div>
                                    </a> -->
                                </div>
                            </div>
                            <div class="slide" style="background-image: url(/image/fb07.jpg);">
                                <div class="number">07</div>
                                <div class="body">
                                    <div class="location">Taipei-wang</div>
                                    <div class="headline">T台走秀妆</div>
                                    <!-- <a href="#">
                                        <div class="link">View on Unsplash</div>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div id="next-catch"></div>
                        <div id="prev-catch"></div>
                    </div>
                </div>
        </section>
        <!-- 这是底部区域 -->
        <%include footer.html%>
            <script>
                new Vue({
                    el: "#app",
                    data: {
                        right_img: "<img src='/image/first_1.png' alt='图片'>"
                    },
                    methods: {

                    }
                })
            </script>
            <script src="/js/largetwo.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
            