<%include header.html%>

        <el-row class="pcontent">
                <el-col :xs="2" :sm="2" :offset="2">
                        <div class="pchild">
                                <a href="##">推荐</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2">
                        <div class="pchild">
                                <a href="##">眼线</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2">
                        <div class="pchild">
                                <a href="##">眉毛</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2">
                        <div class="pchild">
                                <a href="/eshadow?id=1">眼影</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2" class="hidden-xs-only">
                        <div class="pchild">
                                <a href="##">遮瑕</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2" class="hidden-xs-only">
                        <div class="pchild">
                                <a href="/lipgloss?id=0">口红</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2" class="hidden-xs-only">
                        <div class="pchild">
                                <a href="##">垫鼻</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2" class="hidden-xs-only">
                        <div class="pchild">
                                <a href="##">美牙</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2" class="hidden-xs-only">
                        <div class="pchild">
                                <a href="##">腮红</a>
                        </div>
                </el-col>
                <el-col :xs="2" :sm="2" class="hidden-xs-only">
                        <div class="pchild">
                                <a href="##">防晒</a>
                        </div>
                </el-col>
        </el-row>
        <el-row>
                <div class="waterfull">
                        <h3 class="myhtitle">热门推荐</h3>
                        <%for(let r of mostcollect){%>
                        <el-col :span="5">
                                <el-card :body-style="{ padding: '10px' }" class="cardstyle box">
                                        <a href="/detil?pid=<%=r.pid%>">  <img src="<%=JSON.parse(r.imglist)[0]%>" class="image"></a>
                                        <div style="padding: 14px;" class="pdesc">
                                                <h5><%=r.workname%></h5>
                                                <p><%=r.description.substring(0,19 )%></p>
                                                <div class="bottom clearfix">
                                                        <time class="time"><%=r.addtime.toLocaleString()%></time>
                                                        <el-button type="text" class="button">收藏</el-button>
                                                </div>
                                        </div>
                                </el-card>
                        </el-col>
                        <%}%>
                </div>
        </el-row>

        <el-row>
                <div class="waterfull">
                        <h3 class="myhtitle">人气精选</h3>
                        <%
                        let a = 0;
                        for(let r of mostlike) {
                                a++;
                        if(a%2){
                        %>
                       <a href="/detil?pid=<%=r.pid%>"> <el-col :sm="11" :xs="24" class="hidden-xs-only hotdiv1">
                                <img src="<%=JSON.parse(r.imglist)[0]%>" alt="" class="hotpic">
                        </el-col></a>
                        <el-col :sm="7" :xs="24" class="hidden-xs-only hotdiv2" :offset="1">
                                <div>
                                        <h4><%=r.workname%></h4>
                                        <p><%=r.description%></p>
                                </div>

                        </el-col>
                        <% }else{ %>
                        <el-col :sm="7" :xs="24" class="hidden-xs-only hotdiv2" >
                                        <div>
                                                <h4><%=r.workname%></h4>
                                                <p><%=r.description%></p>
                                        </div>
        
                                </el-col>
                                <a href="/detil?pid=<%=r.pid%>"> <el-col :sm="11" :xs="24" class="hidden-xs-only hotdiv1" :offset="1">
                                        <img src="<%=JSON.parse(r.imglist)[0]%>" alt="" class="hotpic">
                                </el-col></a>
                                <%}
                        }%>     
                </div>
              
        

        </el-row>
       
                
        

        <%include footer.html%>

                <script>
                        new Vue({
                                el: '#app',
                                data: {
                                        currentDate: new Date(),
                                        imgurls: [{ url: "./image/lunbo2.jpg" }, { url: "./image/lunbo1.jpg" }, { url: "./image/lunbo4.jpg" }, { url: "./image/lunbo5.jpg" }, { url: "./image/lunbo1.jpg" }, { url: "./image/lunbo1.jpg" }, { url: "./image/lunbo2.jpg" }, { url: "./image/lunbo4.jpg" }, { url: "./image/lunbo2.jpg" }, { url: "./image/lunbo3.jpg" }, { url: "./image/lunbo4.jpg" }, { url: "./image/lunbo5.jpg" }],

                                }
                        })
                </script>