<%include header.html%>

<el-row class="pcontent">
        <el-col :xs="2" :sm="2" :offset="2"><div class="pchild"><a href="##">美睫</a></div></el-col>
        <el-col :xs="2" :sm="2" ><div class="pchild"><a href="##">眼线</a></div></el-col>
        <el-col :xs="2" :sm="2" ><div class="pchild"><a href="##">眉毛</a></div></el-col>
        <el-col :xs="2" :sm="2" ><div class="pchild"><a href="##">眼影</a></div></el-col>
        <el-col :xs="2" :sm="2" class="hidden-xs-only"><div class="pchild"><a href="##">遮瑕</a></div></el-col>
        <el-col :xs="2" :sm="2" class="hidden-xs-only"><div class="pchild"><a href="##">高光</a></div></el-col>
        <el-col :xs="2" :sm="2" class="hidden-xs-only"><div class="pchild"><a href="##">垫鼻</a></div></el-col>
        <el-col :xs="2" :sm="2" class="hidden-xs-only"><div class="pchild"><a href="##">美牙</a></div></el-col>
        <el-col :xs="2" :sm="2" class="hidden-xs-only"><div class="pchild"><a href="##">腮红</a></div></el-col>
        <el-col :xs="2" :sm="2" class="hidden-xs-only"><div class="pchild"><a href="##">防晒</a></div></el-col>
        <div class="">

        </div>
        </el-row>
     
      
<%include footer.html%>

<script>
        new Vue({
           el: '#app'
       })
   </script>