<% include header.html%>

    <div class="cen_1">
        <button type="button" @click="getreg">注册</button>
        <button @click="getlogin">登录</button>
        <button @click="updatepesonal">个人资料</button>
        
    </div>
    <div class="cen_2">
        <p>从现在起加入美妆达人行列...</p>
        <button @click="getpublish">加入Dazzling</button>
    </div>
    <div class="cen_3">
        
    </div>
<%include footer.html%>
<script>

    console.log(123)
    new Vue({
        el: "#app",
        data: {
           
        },
        methods:{
            getreg:function(){
                console.log(123);
                window.location.href="/personal/reg";
            },
            getlogin:function(){
                window.location.href="/personal/login";
            },
            updatepesonal:function(){
                window.location.href="";
            },
            getpublish:function(){
                window.location.href="";
            }
        }
    })
</script>