<%include header.html%>

            <el-row class="pubcontent" :xs="24">
                <el-form ref="form" :model="formdata" label-width="80px">
                    <el-form-item label="作品名称" class="myfirstform">
                        <el-input v-model="formdata.workname"></el-input>
                    </el-form-item>
                    <el-form-item label="作品分类">
                        <el-select v-model="formdata.wname"  placeholder="请选择作品分类">
                            <el-option label="口红" value="口红">口红</el-option>
                            <el-option label="睫毛" value="睫毛">睫毛</el-option>
                            <el-option label="眉笔" value="眉笔">眉笔</el-option>
                            <el-option label="眼线" value="眼线">眼线</el-option>
                            <el-option label="粉底" value="粉底">粉底</el-option>
                            <el-option label="眼影" value="1">眼影</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="作品描述">
                        <el-input v-model="formdata.desc"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字">
                        <el-input v-model="formdata.kwd" placeholder="多个关键字，以逗号分隔"></el-input>
                    </el-form-item>
                    <el-form-item label="精选图片">
                        <el-upload
                        action="/upload"
                        multiple
                        list-type="picture-card"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        :on-success="getImage"
                        name="editimages">
                        <i class="el-icon-plus"></i>
                      </el-upload>
                      <el-dialog :visible.sync="formdata.dialogVisible">
                        <img width="100%" :src="formdata.dialogImageUrl" alt="">
                      </el-dialog>
                    </el-form-item>


                    <el-form-item label="相关细节">
                        <div id="editor"></div>
                        <textarea id="qtitle" cols="10" rows="10" class="hide"></textarea>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="upmywork" class="mypbutton">立即创建</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
            </el-row>










     <%include footer.html%>


    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="http://unpkg.com/element-ui@2.4.6/lib/index.js"></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
    <script src="../js/wang.js"></script>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            formdata: {
                workname: '',
                progress: '',
                desc: '',
                kwd: '',
                wname: '',
                dialogImageUrl: [],
                dialogVisible: false
            }
        },
        methods: {
            // 上传整个表单
            upmywork() {
                this.formdata.progress = document.getElementById('qtitle').value;
                axios.post('/personal/publish', Qs.stringify(this.formdata)).then(function (response) {
                    console.log(response);
                    window.location.reload();
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // 处理删除图片
            handleRemove(file, fileList) {
                // console.log(fileList);
                this.formdata.dialogImageUrl = [];
                for (let ind = 0; ind < fileList.length; ind++) {
                    if(fileList[ind].response){
                        this.formdata.dialogImageUrl.push(fileList[ind].response.data[0]);
                    }
                }
            },
            // 图片上传成功后处理函数三个参数未知的情况下打印出来看看
            getImage(response, file, fileList){
                console.log(fileList);
                this.formdata.dialogImageUrl = [];
                for (let ind = 0; ind < fileList.length; ind++) {
                    if(fileList[ind].response){
                        this.formdata.dialogImageUrl.push(fileList[ind].response.data[0]);
                    }
                }
                console.log(JSON.stringify(this.formdata.dialogImageUrl));
            },
            handlePictureCardPreview(file) {
                // this.formdata.dialogImageUrl = file.url;
                // this.formdata.dialogVisible = true;
            }
    
            }

        })
</script>