<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/business.css">
    <link rel="stylesheet" href="../css/perfect.css">
    <link rel="shortcut icon" href="../image/small.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/display.css">
    <link rel="stylesheet" href="/css/personal.css">
    <link rel="stylesheet" href="../css/publish.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row :gutter="2">
                    <el-col :sm="2" :xs="4" :offset="2">
                        <div class="grid-content bg-purple ">
                            <a href="#">
                                <img src="../image/logo.png" alt="" class="mypic">
                            </a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4">
                        <div class="grid-content bg-purple ">
                            <a href="/">
                                <span class="mytitle">Dazzling</span>
                            </a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/">首页</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/perfect">精选</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/about">关于我们</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/business">招商</a>
                        </div>
                    </el-col>
                    <el-col :sm="2" :xs="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple">
                            <a href="/personal">个人中心</a>
                        </div>
                    </el-col>
                </el-row>
            </el-header>

            <!-- 以上是头部 -->


            <el-row class="pubcontent" :xs="24">
                <el-form ref="form" :model="formdata" label-width="80px">
                    <el-form-item label="作品名称" class="myfirstform">
                        <el-input v-model="formdata.workname"></el-input>
                    </el-form-item>
                    <el-form-item label="作品分类">
                        <el-select v-model="formdata.wname" placeholder="请选择作品分类">
                            <el-option label="口红" value="口红">口红</el-option>
                            <el-option label="睫毛" value="睫毛">睫毛</el-option>
                            <el-option label="眉笔" value="眉笔">眉笔</el-option>
                            <el-option label="眼线" value="眼线">眼线</el-option>
                            <el-option label="粉底" value="粉底">粉底</el-option>
                            <el-option label="眼影" value="眼影">眼影</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="作品描述">
                        <el-input v-model="formdata.desc"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字">
                        <el-input v-model="formdata.kwd"></el-input>
                    </el-form-item>
                    <el-form-item label="精选图片">
                        <el-upload
                        action="/upload"
                        multiple
                        list-type="picture-card"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        :on-success="getImage"
                        name="editimages">
                        <i class="el-icon-plus"></i>
                      </el-upload>
                      <el-dialog :visible.sync="formdata.dialogVisible">
                        <img width="100%" :src="formdata.dialogImageUrl" alt="">
                      </el-dialog>
                    </el-form-item>


                    <el-form-item label="操作流程">
                        <div id="editor"></div>
                        <textarea id="qtitle" cols="10" rows="10" class="hide"></textarea>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="upmywork" class="mypbutton">立即创建</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
            </el-row>










            <!-- 以下是尾部 -->
            <el-footer>
                <el-row :gutter="20">
                    <!-- 底部左侧内容 -->
                    <el-col :span="6" :offset="3" :xs="21">
                        <div class="grid-content bg-purple footer">
                            <div>
                                <img src="../image/logo.png" alt="" class="footpic">
                            </div>
                            <div class="masked">Dazzling让你更美丽~~</div>
                        </div>
                    </el-col>

                    <!-- 底部右侧内容 -->
                    <el-col :span="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple footer">
                            <ul>
                                <li>
                                    <a>
                                        <h4>
                                            <i class="el-icon-document"></i>公司相关</a>
                                    </h4>
                                </li>
                                <li>
                                    <a>加入我们</a>
                                </li>
                                <li>
                                    <a>招商合作</a>
                                </li>
                                <li>
                                    <a>关于我们</a>
                                </li>
                            </ul>
                        </div>
                    </el-col>
                    <el-col :span="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple footer">
                            <ul>
                                <li>
                                    <a>
                                        <h4>
                                            <i class="el-icon-view"></i>内容相关</a>
                                    </h4>
                                </li>
                                <li>
                                    <a>社区精选</a>
                                </li>
                                <li>
                                    <a>媒体报道</a>
                                </li>
                            </ul>
                        </div>
                    </el-col>
                    <el-col :span="4" class="hidden-xs-only">
                        <div class="grid-content bg-purple footer">
                            <ul>
                                <li>
                                    <a>
                                        <h4>
                                            <i class="el-icon-tickets"></i>协议条款</a>
                                    </h4>
                                </li>
                                <li>
                                    <a>注册协议</a>
                                </li>
                                <li>
                                    <a>隐私协议</a>
                                </li>
                            </ul>
                        </div>
                    </el-col>
                </el-row>

            </el-footer>
            <hr>
            <el-footer class="footerlast">
                <el-row>
                    <el-col :sm="16" :xs="20" :offset="4" class="bottom">
                        <div>
                            <a href="#">蓉ICP备13030189号Copyright
                                <span>&copy;</span>美美哒集团（四川）有限公司</a>
                            <span>|地址：四川省成都市天府五街125号B座</span>
                            <span>|电话：028-61303585</span>
                        </div>
                        <div>
                            <a href="#">成都市互联网举报中心</a>
                            <span>|蓉网文[2018] 4086-308号</span>
                            <span>|增值电信业务经营许可证：蓉B2-20150021</span>
                        </div>
                        <div>

                            <span>2018蓉公安备301010300000888888</span>
                            <span>|违法不良信息举报电话：028-61303585</span>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>

        </el-container>
    </div>


    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="http://unpkg.com/element-ui@2.4.6/lib/index.js"></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
    <script src="../js/wang.js"></script>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            formdata: {
                workname: '',
                progress: '',
                desc: '',
                kwd: '',
                wname: '',
                dialogImageUrl: [],
                dialogVisible: false
            }
        },
        methods: {
            upmywork() {
                this.formdata.progress = document.getElementById('qtitle').value;
                axios.post('/personal/publish', Qs.stringify(this.formdata)).then(function (response) {
                    console.log(response);
                    window.location.reload();
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            handleRemove(file, fileList) {
                // console.log(fileList);
                this.formdata.dialogImageUrl = [];
                for (let ind = 0; ind < fileList.length; ind++) {
                    if(fileList[ind].response){
                        this.formdata.dialogImageUrl.push(fileList[ind].response.data[0]);
                    }
                }
            },
            getImage(response, file, fileList){
                console.log(fileList);
                this.formdata.dialogImageUrl = [];
                for (let ind = 0; ind < fileList.length; ind++) {
                    if(fileList[ind].response){
                        this.formdata.dialogImageUrl.push(fileList[ind].response.data[0]);
                    }
                }
                console.log(JSON.stringify(this.formdata.dialogImageUrl));
            },
            handlePictureCardPreview(file) {
                // this.formdata.dialogImageUrl = file.url;
                // this.formdata.dialogVisible = true;
            }
    
            }

        })
</script>